* {
  box-sizing: border-box; }

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/*ba-grid*/
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1em; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/*ba-common*/
.ba-text-center {
  text-align: center; }

.ba-text-right {
  text-align: right; }

.ba-text-left {
  text-align: left; }

.ba-text-justify {
  text-align: justify; }

.ba-banner {
  height: 100vh; }

.ba-hero {
  height: calc(100vh - 85px);
  background-image: url(../img/hearo.jpeg);
  background-color: #000;
  background-size: cover;
  padding: 9vh 0 7.5vh;
  color: #fff; }
  .ba-hero__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .ba-hero__middle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right; }
  .ba-hero__bottom {
    text-align: center; }
  .ba-hero__tittle {
    margin: 0;
    font-size: 48px;
    font-family: "Raleway";
    color: #ededed;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }
  .ba-hero__text {
    font-size: 24px;
    font-family: "Raleway";
    color: #ededed;
    margin: 0; }
    .ba-hero__text p {
      margin: 0; }

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none; }
  .ba-menu__item {
    font-size: 18px;
    font-family: "Raleway";
    color: #3b3b3b;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 28px; }
  .ba-menu__link {
    color: inherit;
    text-decoration: none; }

.ba-menu-btn {
  display: flex;
  background-color: black;
  border: none;
  font-size: 28.604px;
  font-family: "Raleway";
  color: #ededed;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  align-items: center; }
  .ba-menu-btn__line {
    width: 20px;
    height: 4px;
    display: block;
    background-color: #fff;
    margin-bottom: 5px;
    margin-left: 5px; }
  .ba-menu-btn__lines {
    padding-top: 5px; }

.ba-items {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.ba-text {
  text-align: center;
  padding: 0 86px; }
  .ba-text p {
    font-size: 14px;
    font-family: "Raleway";
    color: #3b3b3b;
    font-weight: bold;
    line-height: 1.2;
    text-align: left; }

img {
  max-width: 100%; }

.ba-row {
  padding: 0 85px; }
  .ba-row .ba-product__info {
    text-align: center; }

.ba-logo {
  text-decoration: none;
  font-size: 30px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.ba-product {
  padding-top: 20px; }
  .ba-product__link {
    font-size: 18px;
    font-family: "Raleway";
    color: #3b3b3b;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.2;
    text-align: center; }
  .ba-product__tittle {
    font-size: 24px;
    font-family: "Raleway";
    color: #3b3b3b;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0; }
  .ba-product__price {
    font-size: 24px;
    font-family: "Raleway";
    color: #3b3b3b;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }

.ba-section__desc {
  font-size: 18px;
  font-family: "Raleway";
  color: #3b3b3b;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.ba-hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.ba-logo__link {
  text-decoration: none;
  font-size: 30px;
  font-family: "Raleway";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.ba-section-header .ba-hero__tittle {
  color: #1d1d1d;
  margin-top: 20px; }

.ba-statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100vw;
  height: 450px;
  background-image: url(../img/about-bg.jpeg);
  background-size: cover; }
  .ba-statistic .ba-product .ba-hero__tittle {
    font-size: 72px;
    font-family: "Raleway";
    color: #ededed;
    font-weight: bold;
    line-height: 1.2;
    text-align: center; }
  .ba-statistic .ba-section__desc {
    color: white; }

.ba-hero__scroll {
  display: inline-block;
  width: 50px;
  height: 60px;
  background-image: url(../img/mouse-icon.jpeg);
  background-size: contain;
  background-repeat: no-repeat; }
